.general{
    width: 260px;
    height: 60px;
    background: rgba(55, 87, 57, 1);
    border-radius: 30px;
    border: none;
    outline: 0 !important;
    text-align: center;
    font-size: 26px;
    font-family: Roboto, serif;
    color: white;
    margin: 40px auto 24px auto;

}
.general:hover{
    background: #B7EAAF;
    color: black;
}